@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@


@Html.Partial("~/Views/Partials/PageHeader.cshtml")

<!-- Main Content -->
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Page Not Found</p>

            </div>
        </div>
    </div>
</article>

